
@font-face {
    font-family: 'Roboto-l';
    src: url(../fonts/Roboto-Light.ttf);
    src: url(../fonts/Roboto-Light.eot);
    src: url(../fonts/Roboto-Light.woff);
    src: url(../fonts/Roboto-Light.woff2);
    }
@font-face {
        font-family: 'Roboto-b';
        src: url(../fonts/Roboto-Black.ttf);
        src: url(../fonts/Roboto-Black.eot);
        src: url(../fonts/Roboto-Black.woff);
        src: url(../fonts/Roboto-Black.woff2);
        }
@font-face {
            font-family: 'Roboto-r';
            src: url(../fonts/Roboto-Regular.ttf);
            src: url(../fonts/Roboto-Regular.eot);
            src: url(../fonts/Roboto-Regular.woff);
            src: url(../fonts/Roboto-Regular.woff2);
            }            
     
@font-face {
                font-family: 'lato-b';
                src: url(../fonts/Lato-Bold.ttf);
                src: url(../fonts/Lato-Bold.eot);
                src: url(../fonts/Lato-Bold.woff);
                src: url(../fonts/Lato-Bold.woff2);
                }           
 @font-face {
                font-family: 'lato-r';
                src: url(../fonts/Lato-Regular.ttf);
                src: url(../fonts/Lato-Regular.eot);
                src: url(../fonts/Lato-Regular.woff);
                src: url(../fonts/Lato-Regular.woff2);

                }                  