%flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}
%flex-containernc {
  display: flex;
  justify-content: space-between;

}
%flex-around {
  display: flex;
  justify-content: space-around;


}

%flex-aroundwrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
%flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}

%marginmaxa {
  max-width: 1200px;
  margin: auto;
}

