@media only screen and (max-width: 1200px) {

  .containerteamcenter {
    width: 67%;
    justify-content: space-around;
    display: flex;
    align-content: center;
  }
    .sectionbluecenter 
  { 
    justify-content: space-around;
    width: 87%;
  
    
  .firstblue{
  margin-right: 40px;
  margin-left: 41px;
  height: 400px;}
  h2{
    font-size: $fonts24;
  }
  p{
    font-size: $fonts16;
  }
  }

  #packagelists {

    .packagelistscenter {
  
    width: 90%;
    justify-content: center;  }
  
  }
  
  }

// @media only screen and (max-width: 1024px) {
 
  
// }
  @media only screen and (max-width: 992px) 
  {

  header 
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.containerway 
{
  h2 {
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
  }
  .input {
    width: 90%;
    margin-left: 5%;
   
  }
 .inputsubmit {
   width: 50%;
   margin-left: 25%;
   margin-top:30px;
 }}
 .containerteamcenter {
  width: 80%;
}

#packagelists {

  .packagelistscenter {
    .package {
      width: 300px;
    }
  
  }

}
.message {
  width: 100%;
}
.inputsubmits {
  width: 100%;
}
}
.sectionbluecenter {
  width: 95%;
   }
.containerteam {
  p {
    font-size: 18px;
  }

  .containerteamcenter {
    .centerhover {
      margin-top: 20px;

    }
  }

  }

@media only screen and (max-width: 768px) 
{
  header {
    max-width: 600px;
     ul {
        display: none
        }
    
  }
  .containerimages {
       
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
 }
 
 .menu {
  display: block;
       }

 .dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-align: left;
    font-size: 18px;
  }
  
  
  .dropdownmenu:hover .dropdown-content{
    display: block;
  }
  .dropdownmenu:hover .dropdown-content a{
    display: block;
  }
  .dropdown-content {
  
    width: 100%;
    left: 0%;
    top: 90%;
  }
  .sectionbluecenter 
  {  
        .firstblue {
            height: 300px;
            margin-left: auto;
            margin-right: auto;
        h2{
          font-size: $fonts18;
        }
        
        p{
          font-size: $fonts14;
        }
      }
  }

.bgpark{
    p{
      font-size: $fonts14;
        }    
  }
 
  }

  @media only screen and (max-width: 480px) 
  {
header  {
      a {
      margin-bottom: 10px;
       }
}
  .dropdown-content-search {
      top: 98%;
}
  .dropdown-content {
  top: 98%;
}
  .containerimages {
         
      flex-wrap: wrap;
      justify-content: center;
   }  
 
  .sectionbluecenter 
  { 
  .firstblue {
        height: 270px;
      }
  }

  .bgpark  {
  h4 {
    margin-bottom: 70px;
  }
  .fb {
    width: 70px;
    height: 70px;
  }
  .fbi {
    width: 20px;
    height: 38px;
    margin: 16px 25px;
  }
} 

 .iframes {
    display: none;

}
 .centerdiv {
    width: 100%;
    left: 0;
    padding-top: 30px;
    @include position (relative);
}

}
