
  @media only screen and (max-width: 992px) 
  {
  
  .containerimages {
         
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
   }  

  header 
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.containerway 
{
  h2 {
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
  }
  .input {
    width: 90%;
    margin-left: 5%;
   
  }
 .inputsubmit {
   width: 50%;
   margin-left: 25%;
   margin-top:30px;
 }
 .containerteamcenter {
justify-content: center;}
}


.message {
  width: 100%;
}
.inputsubmits {
  width: 100%;
}
}

.containerteam {
  p {
    font-size: 18px;
  }
  }

@media only screen and (max-width: 768px) 
{
    header {
    max-width: 600px;
    ul {
        display: none
    }
   
    }
    .containerimages {
       
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

 }
 .dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .sectionbluecenter 
  { 
    .firstblue {
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }
  }
  .bgpark{
p{
  font-size: 18px;
}    
  }
  }

  @media only screen and (max-width: 480px) 
  {
  
    .containerimages {
         
          flex-wrap: wrap;
          justify-content: center;
   }  
   .dropdown-content {
    
    min-width: 200px;
    
  }
 
  .sectionbluecenter 
  { 
    .firstblue {
        height: 270px;
      }
  }

  .bgpark
  {

  h4 {
    margin-bottom: 70px;
  }
  .fb {
 width: 70px;
 height: 70px;
  }
  .fbi {
    width: 20px;
    height: 38px;
    margin: 16px 25px;
  }
} 
}
.packagelists {


.hoverpack
{
width: 300px;
}
}
