@media only screen and (min-width: 1440px)
 {
  .containerimages {
    flex-wrap: nowrap;
    justify-content: space-between;

    .containerwood
    {
      width: 25%;
    }
    .containerbear {
      width: 25%;
    }
    .containerstreet {
      width: 25%;
    }
    .containercar {
      width: 25%;
    }
  }

}



@media only screen and (max-width: 1200px) {

  .containerteamcenter {
    width: 67%;
    justify-content: space-around;
    display: flex;
    align-content: center;
  }
    .sectionbluecenter 
  { 
    justify-content: space-around;
    
  .firstblue{
  width: 34%;
  height: 350px;}
  h2{
    font-size: $fonts24;
    width: 100%;
  }
  p{
    font-size: $fonts16;
    width: 100%;
  }
  }

  #packagelists {

    .packagelistscenter {
  
    width: 90%;
    justify-content: center;  }
  
  }
  
  }

  @media only screen and (max-width: 992px) 
  {
   
  header 
  { 
    justify-content: space-between;

    ul {
      display: none;
    }
}
.menu {
  display: block;
       }

 .containerteamcenter {
  width: 80%;
}

#packagelists {

  .packagelistscenter {
    .package {
      width: 300px;
    }
  
  }

}
.message {
  width: 100%;
}
.inputsubmits {
  width: 100%;
}
}

.containerteam {
  p {
    font-size: 18px;
  }

  .containerteamcenter {
    .centerhover {
      margin-top: 20px;
    }
  }

  }

@media only screen and (max-width: 768px) 
{
  header {
     ul {
        display: none
        }
    
  }
  .containerimages {
       
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
 }
 


 .dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-align: left;
    font-size: 18px;
  }
  
  
  .dropdownmenu:hover .dropdown-content{
    display: block;
  }
  .dropdownmenu:hover .dropdown-content a{
    display: block;
  }
  .dropdown-content {
  
    width: 100%;
    left: 0%;
    top: 90%;
  }
  .sectionbluecenter 
  {  
        .firstblue {
            margin-left: auto;
            margin-right: auto;
        h2{
          font-size: $fonts18;
        }
        
        p{
          font-size: $fonts14;
        }
      }
  }

.bgpark{
    p{
      font-size: $fonts14;
        }    
  }
 
  }

  @media only screen and (max-width: 480px) 
  {
header  
     
{width: 95%;
      a {
      font-size: $fonts24;
       }
}
.menu {
  margin-left: 0px;
}
  .dropdown-content-search {
      top: 98%;
}
  .dropdown-content {
  top: 98%;
}
  .containerimages {
         
      flex-wrap: wrap;
      justify-content: center;
   }  
 
  .sectionbluecenter 
  { 
  .firstblue {
        height: 270px;
        width: 270px;
      }
  }
.containerway 
{
  h2 {
   font-size: $fonts18;
   width: 95%;
   text-align: center;
}
    
}
  .bgpark  {
  h4 {
    margin-bottom: 70px;
  }
  .fb {
    width: 70px;
    height: 70px;
  }
  .fbi {
    width: 20px;
    height: 38px;
    margin: 16px 25px;
  }
} 

 .iframes {
    display: none;

}
 .centerdiv {
    width: 100%;
    left: 0;
    padding-top: 30px;
    @include position (relative);
}
.margincenter h1 {
  font-size: 24px;
}
}
@media only screen and (max-width: 320px) {
.sectionbluecenter p {
  
    width: 95%;
}
}