@import 'reset.scss';
@import 'variable.scss';
@import 'privateelements.scss';
@import 'fonts.scss';
@import 'mixins.scss';



header {
  @extend %marginmaxa;
  @extend %flex-container;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 97%;
  @include position (relative);

.hdiv{
    @extend %flex-container;
  }
  ul{
    @extend %flex-container;
  }

  li {
    margin-left: 40px;
  }

a {
  font-size: $fonts36;
  color: $colorhover;
  font-family: 'Roboto-l';
}

}
.span
{
  font-family: 'Roboto-b';

}
 nav 
 {
    a {
    color: $colorgrey;
    font-size: $fonts18;
    font-family: 'Roboto-r';
    @include text-transform (capitalize);
  }
  a:hover {
    background-color: $colortransp;
    color: $colorahover;
  }
  
}
aside {
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.searchimg {
  height: 24px;
  width: 24px;
  margin-left: 40px;
}

.dropdown {
  overflow: hidden;
 
}

.dropdown .dropbtn {
  border: 1px solid $colorwhite;
  outline: none;
  color: $colorwhite;
}
.dropdown-content-search {
  background-color: #f9f9f9;
  z-index: 1;
  display: none;
  right: 1%;
  top: 95%;
  @include position (absolute);
}
.dropdown:hover .dropdown-content-search {
  display: block;
  transition: 3s;
}

.dropdown:hover .searchtext {
  display: block;
}

.searchtext {
  font-size: 18px;
  color: $colorgrey;
  background: $colorwhite;
  height:30px;
  margin-right: 10px;
  display: none;
}


.dropdownmenu {
  overflow: hidden;
  
}

.dropdownmenu .dropbtnmenu {
  border: none;
  outline: none;
  color: white;
}
.menu {
  height: 24px;
  width: 24px;
  margin-left: 20px;
  display: none;
}
.dropdown-content {
  display: none;
  @include position (absolute);
  background-color: #f9f9f9;
  min-width: 100px;
  z-index: 1;
}
.dropdown-content a:hover {
  background-color: $colorgrey;
  color: $colorwhite;
}
// header ends

// first section start
#containerimg {

width:$width100;
height: 944px;
background-image: url("../img/girl.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
opacity: 0.4;
}


.margincenter {
  @extend %marginmaxa;
  width:$width95;
  

h1 {
  font-size:$fonts48;
  color: $colorwhite;
  letter-spacing: $letter-spacing10;
   @include text-transform (uppercase);
  text-align: $text-alignc;
  align-items: center;
  font-family: 'lato-b';
 }
h1:hover,
h2:hover,
h3:hover,
{
  color: $colorhhover;
  cursor: pointer;
}

h2 {
  font-size: $fonts18;
  color: $colorwhite;
  margin-bottom: 40px;
  text-align: $text-alignc;
  letter-spacing: $letter-spacing7;
  @include text-transform (uppercase);
  align-items: center;
  padding-top: 400px;
  font-family: 'Roboto-r';

}
h3 {
  font-size: $fonts18;
  color: $colorwhite;
  text-align: $text-alignc;
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: $letter-spacing7;
  @include text-transform (uppercase);
  align-items: center;
  font-family: 'Roboto-r';

}
}

.arrow{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #3EC6FF;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto}

// fisrts section ends
#sectionblue 
{
  width:$width100;
}
.sectionbluecenter {
 @extend %marginmaxa;
 width:$width95;;
 @extend %flex-container;
  
  
img {
  width: 45px;
  height: 45px;
  margin: 25px;
  
}


.firstblue {
  width: 270px;
  height: 470px;
  @extend %flexacenter;
}
h2 {
  width: 270px;
  font-size: $fonts18;
  color: $colorgrey;
  margin-bottom: 15px;
  text-align: $text-alignc;
  font-family: 'Roboto-r';

}
p {
  width: 270px;
  font-size: $fonts14;
  color: $colorgrey;
  font-family: 'Roboto-r';
  text-align: center;
}

h2:hover,
p:hover,
{
  color: $colorhhover;
  cursor: pointer;
}
}
// container way starts 

.containerway {

  width:$width100;
  height: 250px;
  background-image: url("../img/way.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  margin-bottom: 60px;


.sectionnews {
  @extend %marginmaxa;
  width:$width95;;
  @extend %flex-container;
}
h2 
{
  color: $colorwhite;
  font-size: $fonts24;
  padding-top: 75px;
  padding-bottom: 30px;
  width: 1200px;
  font-family: 'Roboto-r';

}

h2:hover
{
  color: $colorhhover;
  cursor: pointer;
}
.divinput {
   width: 1200px;
   width:$width100;
  
}
.input {
  width: 770px;
  height: 50px;
  border: 1px solid $colorwhite;
  border-radius: $borderr5;
  color: $colorwhite;
  font-size: $fonts18;
  background:$colortransp;
  padding-left: 20px;
  font-family: 'Roboto-r';
}
.input:hover {
  color: $colorhoverpark;
  border: 1px solid $colorhoverinput;
}
.inputsubmit {
  background-color: #3EC6FF;
  color: $colorwhite;
  border: none;
  width: 370px;
  height: 50px;
  border-radius: $borderr5;
  font-family: 'Roboto-r';
  font-size: $fonts18;
}
.inputsubmit:hover,
.inputsubmits:hover, {
  background:$colorhoverinput;
}
}
// container way ends

// images container starts
.containerimages {
  width:$width100;
  @extend %flex-around;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
// .images {
//   width:100%;
//   height: 300px;
//   display: block;

// }

.container {
  @include position (relative);
  background-image: url("../img/wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 480px;
  display: block;
}

.overlay {
  @include position (absolute);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width:$width100;
  opacity: 0;
  transition: .4s ease;
  background-color: #3EC6FF;
}

.container:hover .overlay {
  opacity: 0.7;
}

.hovertext {
  color: $colorwhite;
  font-size: $fonts18;
  @include position (absolute);;
  top: 80%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: $text-alignc;
  @include text-transform (uppercase);
  font-family: 'Roboto-r';

}
 // images container ends

// team container start
.containerteam {
  width:$width100;
  margin-top: 60px;
  .centerteam {
   @extend %marginmaxa;
  }

  h2 {
    font-size: $fonts36;
    color: $colorgrey;
    padding-top:90px;
    padding-bottom: 30px;
    text-align: $text-alignc;
    letter-spacing: $letter-spacing12;
    word-spacing: $word-spacing12;
    font-family: 'Roboto-r';

  }
  p 
  {
    font-size: $fonts24;
    color: $colorgrey;
    padding-bottom: 120px;
    text-align: $text-alignc;
    word-spacing: $word-spacing7;;
    letter-spacing: $letter-spacing2;
    font-family: 'Roboto-r';

  }
h2:hover,
p:hover,
{
  color: $colorhhover;
  cursor: pointer;
}
 .containerteamcenter {
  @extend %flex-aroundwrap ;
  @extend %marginmaxa;
  margin-bottom: 60px;
  a {
    height:30px;
  }
}

 .centerhover {
  @include position (relative);
      height: 274px;
 }
.teamimages {
  height: 274px;
}

.overlayteam:hover {
  opacity: 0.7;
}
.overlayteam
{
  @include position (absolute);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width:$width100;
  opacity: 0;
  transition: .4s ease;
  background-color: #3EC6FF;
}
  .hovertexti {
    color: $colorwhite;
    font-size: $fonts18;
    @include position (absolute);
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: $text-alignc;
    @include text-transform (uppercase);
    width: 180px;
    font-family: 'Roboto-r';

  }
  
  .hovertextii {
    width: 180px;
    color: $colorwhite;
    font-size: $fonts24;
    @include position (absolute);
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
     @include text-transform (uppercase);
    font-family: 'Roboto-r';

  }

.iconsf {
  height: 30px;
  display: block;
  @include position (absolute);;
  top: 67%;
  left: 27%;
}
.iconst {
  height: 30px;
  display: block;
  @include position (absolute);;
  top: 67%;
  left: 43%;
}
.iconsp {
  height: 30px;
  display: block;
  @include position (absolute);;
  top: 67%;
  left: 63%;
}
}

// team container ends

// park section start
#bgpark {
  background-image: url("../img/bgpark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.67;
  width:$width100;
  height: 630px;
  margin-bottom: 50px;
  
  p {
    text-align: $text-alignc;
    color: $colorwhite;
    font-size: $fonts24;
    margin-bottom: 40px;
    font-family: 'Roboto-r';

  }
  h4 {
    text-align: $text-alignc;
    color: $colorwhite;
    font-size: $fonts18;
    margin-bottom: 100px;
    font-family: 'Roboto-r';

  }
  h4:hover,
  p:hover,
{
  color: $colorhoverpark;
  cursor: pointer;
}
  .parkcenter {
    
    @extend %marginmaxa;
    padding-top:190px; 

  }

  .fb {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: $colorwhite;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  
}
  .fbi {
    width: 30px;
    height: 56px;
    margin: 22px 35px;
  }
  
}

.arrowicons {
  text-align: $text-alignc;
}

.arrowicon {
  width: 48px;
  height: 48px;
  margin-left: 20px;
 
}

// park section ends


// package lists start
#packagelists  {
 width:$width100;
.packagelistscenter {
 @extend %marginmaxa;
 @extend %flex-container;
  }
  .package {
 width: 370px;
 height: 590px;
  }
  a {
    color: $colorgrey;
     @include text-transform (capitalize);
    font-family: 'Roboto-r';

  }
   a:hover{
     color: $colorahover;
   }
  
  h2 {
    font-size: $fonts36;
    color: $colorgrey;
     @include text-transform (uppercase);
    text-align: $text-alignc;
    padding-top: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto-r';

  }
  h3 {
    font-size: $fonts24;
    color: $colorgrey;
    @include text-transform (uppercase);
    text-align: $text-alignc;
    margin-bottom: 50px;
    font-family: 'Roboto-r';

  }
  
  h4 {
    font-size: $fonts18;
    color: $colorgrey;
     @include text-transform (capitalize);
    margin-bottom: 25px;
   text-align: $text-alignc;
    font-family: 'Roboto-r';

  }
  
 
  .hoverpack {
    height: 240px; 
    cursor: pointer;
  }
  .hoverpack:hover h2{
    color: $colorwhite;
    background: $colorhover;
 
  }
  .hoverpack:hover h3 {
    color: $colorwhite;
    background: $colorhover;
 
  }
  .hoverpack:hover a {
    color: $colorwhite;
    background: $colorhover;
 
  }
 
  .hoverpack:hover {
    color: $colorwhite;
    background: $colorhover;
  }

 
  ul {
    text-align: $text-alignc;
    margin-top:30px;
  }
 li {
    font-size: $fonts24;
    color: $colorgrey;
     @include text-transform (capitalize);
    text-align: $text-alignc;
    margin-bottom: 20px;
    font-family: 'Roboto-r';

  }
  li:last-child {
    margin-bottom: 55px;
  }

}

// package lists ends


// last section starts 
#lastsection {
  width:$width100;
  @include position (relative);
  
}
.centerdiv {
 width:$width70;;
 height: 645px;
 background: rgba(134, 134, 134, 0.5);
 @include position (absolute);
 top: 40px;
 left: 15%;
 padding-top: 50px;
 margin-bottom: 20px;

.forms {

  width:80%;
  @include position (absolute);;
  left: 10%;
}

 h2 {
  font-size: $fonts36;
  color: $colorwhite;
  text-align: $text-alignc;
  font-family: 'Roboto-r';

}
h2:hover,
a:hover,
{
  color: $colorhhover;
  cursor: pointer;
}
.iframes {
 @include position (relative);;
 width:$width100;
}
ul {
  text-align: $text-alignc;
  margin-top:30px;
}
a {
  font-size: $fonts18;
  color: $colorwhite;
  font-family: 'lato-r';
}
li {
  margin-bottom: 3px;
}
.inputsection {
  width:$width80;;
  height: 50px;
  border-radius: $borderr5;
  font-size: $fonts18;
  background: rgba(134, 134, 134, 0.5);
  padding-left: 20px;
  margin-top: 20px;
  color: $colorgrey;
  border: 1px solid #FFFFFF;
  font-family: 'Roboto-r';
  @include text-transform (capitalize);
  margin-left: 10%;

}

.inputsection:hover {
 border: 1px solid $colorwhite;
 cursor: pointer;
 background: #A8A8A8;
 color: $colorwhite;
}
.message:hover {
  border: 1px solid $colorwhite;
  cursor: pointer;
  background: #A9A9A9;
  color: $colorwhite;
 }
 
.message {
  height: 114px;
  border-radius: $borderr5;
  font-size: $fonts18;
  background:$colorwhite;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $colorgrey;
  border: none;
  font-family: 'Roboto-r';
   @include text-transform (capitalize);
  width:$width80;;
  margin-left: 10%;

}
.inputsubmits {
  background-color: $colorhover;
  color: $colorwhite;
  border: none;
  height: 50px;
  border-radius: $borderr5;
  width:$width80;;
  margin-left: 10%;
  font-size: $fonts18;
  font-family: 'Roboto-r';
   @include text-transform (capitalize);
  font-size: $fonts18;
}
.inputsubmits:hover{
  border: 1px solid $colorwhite;
  cursor: pointer;

 }
}

// ends last section

// copyright 
.copyright {
  width:$width100;
  
  .centercopy {
 @extend %marginmaxa;
  height: 80px;
  }
 ul {
   text-align: $text-alignc;
   @extend %flex-center;
 }
  li {
  padding-right:15px;
  margin-top:35px;
  padding-left:15px;
  text-align: $text-alignc;
  font-size: $fonts14;
  font-family: 'Roboto-r';
  border-right: 1px solid $colorgrey;
  }
}

a:active h4 {
  color: red;
background-color: yellow;
} 

@import 'responsive.scss';
