@import 'reset.scss';
@import 'variable.scss';
@import 'privateelements.scss';
@import 'fonts.scss';


header {
  margin: 0 auto;
  @extend %flex-container;
  align-items: center;
  max-width: 1200px;
  margin-top: 35px;
  margin-bottom: 35px;

  .hdiv{
    @extend %flex-container;
  }
  ul{
    @extend %flex-container;
  }

  li {
    margin-left: 40px;
  }
  img {
    width: 240px;
    height: 40px;
  }

a {
  font-size: $fonts36;
  color: $colorhover;
  font-family: 'Roboto-l';
}
}
.span
{
  font-family: 'Roboto-b';

}
 nav 
 {
    a {
    color: $colorgrey;
    font-size: $fonts18;
    font-family: 'Roboto-r';
    text-transform: capitalize;
  }
  a:hover {
    background-color: transparent;
    color: $colorahover;
  }
  
}
// header ends

// first section start
.containerimg {

width: 100%;
height: 944px;
background-image: url("../img/girl.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
opacity: 0.4;
}


.margincenter {
  max-width: 1200px;
  width: 95%;
  margin: auto;
  

h1 {
  font-size: 48px;
  color: $colorwhite;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  font-family: 'lato-b';
 }
h1:hover,
h2:hover,
h3:hover,
{
  color: $colorhhover;
  cursor: pointer;
}

h2 {
  font-size: 18px;
  color: $colorwhite;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  align-items: center;
  padding-top: 400px;
  font-family: 'Roboto-r';

}
h3 {
  font-size: 18px;
  color: $colorwhite;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: 7px;
  text-transform: uppercase;
  align-items: center;
  font-family: 'Roboto-r';

}
}



.arrow{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #3EC6FF;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto}


  // fisrts section ends
.sectionblue 
{
  width: 100%;
}
.sectionbluecenter {
  max-width: 1200px;
  margin: auto;
  width: 95%;
  @extend %flex-container;
  
  
img {
  width: 45px;
  height: 45px;
  margin: 25px;
  
}
.firstblue {
  width: 270px;
  height: 470px;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}
h2 {
  width: 270px;
  font-size: $fonts18;
  color: $colorgrey;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Roboto-r';

}
p {
  width: 270px;
  font-size: 14px;
  color: $colorgrey;
  font-family: 'Roboto-r';

  
}

h2:hover,
p:hover,
{
  color: $colorhhover;
  cursor: pointer;
}
}
// container way starts 

.containerway {

  width: 100%;
  height: 250px;
  background-image: url("../img/way.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  margin-bottom: 110px;


.sectionnews {
  max-width: 1200px;
  margin: auto;
  width: 95%;
  @extend %flex-container;
}
h2 
{
  color: $colorwhite;
  font-size: $fonts24;
  padding-top: 75px;
  padding-bottom: 30px;
  width: 1200px;
  font-family: 'Roboto-r';

}

h2:hover
{
  color: $colorhhover;
  cursor: pointer;
}
.divinput {
   width: 1200px;
   width: 100%;
  
}
.input {
  width: 770px;
  height: 50px;
  border: 1px solid $colorwhite;
  border-radius: 5px;
  color: $colorwhite;
  font-size: $fonts18;
  background:transparent;
  padding-left: 20px;
  font-family: 'Roboto-r';
}
.input:hover {
  color: $colorhoverpark;
  border: 1px solid $colorhoverinput;
}
.inputsubmit {
  background-color: #3EC6FF;
  color: $colorwhite;
  border: none;
  width: 370px;
  height: 50px;
  border-radius: 5px;
  font-family: 'Roboto-r';
font-size: $fonts18;
}
.inputsubmit:hover,
.inputsubmits:hover, {
  background:$colorhoverinput;
}
}
// container way ends

// images container starts
.containerimages {
  width: 100%;
  @extend %flex-containernc;
  margin-bottom: 50px;
  
}
.images {
  width:100%;
  height: 300px;
  display: block;

}

.container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: #3EC6FF;
}

.container:hover .overlay {
  opacity: 0.7;
}

.hovertext {
  color: $colorwhite;
  font-size: $fonts18;
  position: absolute;
  top: 80%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto-r';

}
 // images container ends

// team container start
.containerteam {
  width: 100%;
  margin-top: 60px;
  .centerteam {
    margin: auto;
    max-width: 1200px;
  }

  h2 {
    font-size: $fonts36;
    color: $colorgrey;
    padding-top:90px;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 12px;
    word-spacing: 12px;
    font-family: 'Roboto-r';


  }
  p 
  {
    font-size: $fonts24;
    color: $colorgrey;
    padding-bottom: 120px;
    text-align: center;
    word-spacing: 7px;
    letter-spacing: 2px;
    font-family: 'Roboto-r';

  }
h2:hover,
p:hover,
{
  color: $colorhhover;
  cursor: pointer;
}
 .containerteamcenter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 160px;


}

 .centerhover {
  position: relative;
 }
.teamimages {
  height: 274px;

}


.overlayteam:hover {
  opacity: 0.7;
}

.overlayteam
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: #3EC6FF;
}
  .hovertexti {
    color: $colorwhite;
    font-size: $fonts18;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    font-family: 'Roboto-r';

  }
  
  .hovertextii {
    width: 180px;
    color: $colorwhite;
    font-size: $fonts24;
    position: absolute;
    top: 30%;
    left: 50%;
     -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: 'Roboto-r';

  }

.iconsf {
  height: 30px;
  display: block;
  position: absolute;
  top: 70%;
  left: 27%;
}
.iconst {
  height: 30px;
  display: block;
  position: absolute;
  top: 70%;
  left: 43%;
}
.iconsp {
  height: 30px;
  display: block;
  position: absolute;
  top: 70%;
  left: 63%;
}
}

// team container ends

// park section start
.bgpark {
  background-image: url("../img/bgpark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.67;
  width: 100%;
  height: 630px;
  margin-bottom: 50px;
  
  p {
    text-align: center;
    color: $colorwhite;
    font-size: $fonts24;
    margin-bottom: 40px;
    font-family: 'Roboto-r';

  }
  h4 {
    text-align: center;
    color: $colorwhite;
    font-size: $fonts18;
    margin-bottom: 100px;
    font-family: 'Roboto-r';

  }
  h4:hover,
  p:hover,
{
  color: $colorhoverpark;
  cursor: pointer;
}
  .parkcenter {
    margin: auto;
    max-width: 1200px;
    padding-top:190px; 

  }

  .fb {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: $colorwhite;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
  .fbi {
    width: 30px;
    height: 56px;
    margin: 22px 35px;
  }
  
}

.arrowicons {
  text-align: center;
}

.arrowicon {
  width: 48px;
  height: 48px;
  margin-left: 20px;
 
}

// park section ends


// package lists start
.packagelists  {
 width: 100%;
.packagelistscenter {
  max-width: 1200px;
  margin: auto;
  @extend %flex-container;
  }
  .package {
 width: 370px;
 height: 590px;
  }
  a {
    color: $colorgrey;
    text-transform: capitalize;
    font-family: 'Roboto-r';

  }
   a:hover{
     color: $colorahover;
   }
  h2 {
    font-size: $fonts36;
    color: $colorgrey;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto-r';

  }
  h3 {
    font-size: $fonts24;
    color: $colorgrey;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto-r';

  }
  
  h4 {
    font-size: $fonts18;
    color: $colorgrey;
    text-transform: capitalize;
    margin-bottom: 25px;
    margin-left: 135px;
    font-family: 'Roboto-r';

  }

  h4:hover{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 75px;
    color: $colorwhite;
    background: $colorhover;
    margin-left: 60px;
    margin-right: 60px;

  }
  h4:hover {
    background:white;
    color: $colorgrey;
  }
  .hoverpack {
    width: 370px;
    height: 240px; 
    cursor: pointer;

  }
  .hoverpack:hover {
    color: $colorwhite;
    background: $colorhover;
 
  }
  h2:hover, h3:hover, .hoverpack:hover{
    color: $colorwhite;

  }
 
  ul {
    text-align: center;
    margin-top:30px;
  }
 li {
    font-size: $fonts24;
    color: $colorgrey;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto-r';

  }
  li:last-child {
    margin-bottom: 55px;
  }
}

// package lists ends


// last section starts 
.lastsection {
  width: 100%;
  position: relative;
  
}
.centerdiv {
 width: 830px;
 height: 645px;
 background: $colorgrey;
 position: absolute;
 top: 40px;
 left: 25%;
 padding-top: 50px;
 margin-bottom: 20px;

.forms {

  width: 570px;
  margin-left: auto;
  margin-right: auto;
}

 h2 {
  font-size: $fonts36;
  color: $colorwhite;
  text-align: center;
  font-family: 'Roboto-r';

}
h2:hover,
a:hover,
{
  color: $colorhhover;
  cursor: pointer;
}
.iframes {
 position: relative;
 width: 100%;
}
ul {
  text-align: center;
  margin-top:30px;
}
a {
  font-size: $fonts18;
  color: $colorwhite;
  font-family: 'lato-r';
}
li {
  margin-bottom: 3px;
}
.inputsection {
  width: 570px;
  height: 50px;
  border-radius: 5px;
  font-size: $fonts18;
  background:$colorwhite;
  padding-left: 20px;
  margin-top: 20px;
  color: $colorgrey;
  border: none;
  font-family: 'Roboto-r';
  text-transform: capitalize;

}

.inputsection:hover {
 border: 1px solid $colorwhite;
 cursor: pointer;
 background: #A8A8A8;
 color: $colorwhite;
}
.message:hover {
  border: 1px solid $colorwhite;
  cursor: pointer;
  background: #A9A9A9;
  color: $colorwhite;
 }
 
.message {
  height: 114px;
  width: 570px;
  border-radius: 5px;
  font-size: $fonts18;
  background:$colorwhite;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $colorgrey;
  border: none;
  font-family: 'Roboto-r';
  text-transform: capitalize;

}
.inputsubmits {
  background-color: $colorhover;
  color: $colorwhite;
  border: none;
  height: 50px;
  border-radius: 5px;
  width: 570px;
  font-size: $fonts18;
  font-family: 'Roboto-r';
  text-transform: capitalize;
  font-size: $fonts18;


}
.inputsubmits:hover{
  border: 1px solid $colorwhite;
  cursor: pointer;

 }
}

// ends last section

// copyright 
.copyright {
  width: 100%;
  
  .centercopy {
  max-width: 1200px;
  margin: auto;
  height: 80px;
  }
 ul {
   text-align: center;
   @extend %flex-center;
 }
  li {
  padding-right:15px;
  margin-top:35px;
  padding-left:15px;
  text-align: center;
  font-size: $fonts14;
  font-family: 'Roboto-r';
  border-right: 1px solid $colorgrey;
  }
}

// test


.searchimg {
  height: 24px;
  width: 24px;
}

.dropdown {
  // float: left;
  overflow: hidden;
  margin-left: 30px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  z-index: 1;
}

// .dropdown-content a {
//   float: none;
//   color: black;
//   padding: 10px 10px;
//   display: block;
//   text-align: left;
// }

// .dropdown-content a:hover {
//   background-color: #ddd;
// }

// .dropdown:hover .dropdown-content {
//   display: block;
// }

@import 'responsive.scss';
