@import 'reset.scss';
@import 'variable.scss';
@import 'privateelements.scss';
@import 'fonts.scss';
@import 'mixins.scss';



header {
  @extend %marginmaxa;
  @extend %flex-container;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 95%;
  @include position (relative);

  .hdiv{
    @extend %flex-container;
  }
  ul{
    @extend %flex-container;
  }

  li {
    margin-left: 40px;
  }

  a {
  font-size: $fonts36;
  color: $colorhover;
  font-family: 'Roboto-l';
  }

}
  .span {
  font-family: 'Roboto-b';

  }
nav  {
  a {
    color: $colorgrey;
    font-size: $fonts18;
    font-family: 'Roboto-r';
    @include text-transform (capitalize);
  }
  a:hover {
    background-color: $colortransp;
    color: $colorahover;
  }
  
}
  aside {
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
 }
  .searchimg {
  height: 24px;
  width: 24px;
  margin-left: 40px;
 }

  .dropdown {
  overflow: hidden;
 }

  .dropdown .dropbtn {
  border: 1px solid $colorwhite;
  outline: none;
  color: $colorwhite;
 }
  .dropdown-content-search {
  background-color: #f9f9f9;
  z-index: 1;
  display: none;
  right: 1%;
  top: 95%;
  @include position (absolute);
 }
  .dropdown:hover .dropdown-content-search {
  display: block;
  transition: $transition3;
 }

 .dropdown:hover .searchtext {
  display: block;
 }

 .searchtext {
  font-size: 18px;
  color: $colorgrey;
  background: $colorwhite;
  height:30px;
  display: none;
  border-radius: $borderr7;
  border: 1px solid $colorhover;
}


 .dropdownmenu {
  overflow: hidden;
  
}

.dropdownmenu .dropbtnmenu {
  border: none;
  outline: none;
  color: white;
}
.menu {
  height: 24px;
  width: 24px;
  margin-left: 20px;
  display: none;
}
.dropdown-content {
  display: none;
  @include position (absolute);
  background-color: #f9f9f9;
  min-width: 100px;
  z-index: 1;
}
.dropdown-content a:hover {
  background-color: $colorgrey;
  color: $colorwhite;
}
// header ends

// first section start
#containerimg {

width:$width100;
height: 944px;
background-image: url("../img/girl.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
opacity: 0.4;
}


.margincenter {
  @extend %marginmaxa;
  width:$width95;
  
h1 {
  font-size:$fonts48;
  color: $colorwhite;
  letter-spacing: $letter-spacing10;
   @include text-transform (uppercase);
  text-align: $text-alignc;
  align-items: center;
  font-family: 'lato-b';
 }
h1:hover,
h2:hover,
h3:hover,
{
  color: $colorhhover;
  cursor: pointer;
}

h2 {
  font-size: $fonts18;
  color: $colorwhite;
  margin-bottom: 40px;
  text-align: $text-alignc;
  letter-spacing: $letter-spacing7;
  @include text-transform (uppercase);
  align-items: center;
  padding-top: 400px;
  font-family: 'Roboto-r';

}
h3 {
  font-size: $fonts18;
  color: $colorwhite;
  text-align: $text-alignc;
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: $letter-spacing7;
  @include text-transform (uppercase);
  align-items: center;
  font-family: 'Roboto-r';

}
}
// fisrts section ends
#sectionblue 
{
  width:$width100;
}
.sectionbluecenter {
 @extend %marginmaxa;
 width:$width95;
 @extend %flex-container;
  
img {
  width: 45px;
  height: 45px;
  margin: 25px;
  
}
.arrow{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #3EC6FF;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto}

.arrow:hover {
  background: $colorrgbahover;
  border: 3px solid rgba(62, 198, 255, 0.7);}

.arrow:hover img{
  transition: $transition1;
  transform: scale(1.2);
}

.firstblue {
  width: 270px;
  height: 470px;
  @extend %flexacenter;
}
h2 {
  width: 270px;
  font-size: $fonts18;
  color: $colorgrey;
  margin-bottom: 15px;
  text-align: $text-alignc;
  font-family: 'Roboto-r';

}
p {
  width: 270px;
  font-size: $fonts14;
  color: $colorgrey;
  font-family: 'Roboto-r';
  text-align: center;
  line-height: 18px;
}

h2:hover,
p:hover,
{
  color: $colorhhover;
  cursor: pointer;
}
}
// container way starts 

.containerway {

  width:$width100;
  height: 250px;
  background-image: url("../img/way.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  margin-bottom: 60px;

.sectionnews {
  @extend %marginmaxa;
  width:$width95;;
}
h2 
{
  color: $colorwhite;
  font-size: $fonts24;
  padding-top: 75px;
  padding-bottom: 30px;
  font-family: 'Roboto-r';

}

.divinput {
   max-width: 1200px;
   width: $width100;
   margin: auto;
}

.input {
  width: 65%;
  height: 50px;
  border: 1px solid $colorwhite;
  border-radius: $borderr10;
  color: $colorwhite;
  font-size: $fonts18;
  background:$colortransp;
  padding-left: 20px;
  font-family: 'Roboto-r';
  float: left;
  outline:none;
}
.input::placeholder{
  color: white;
}
.input:hover {
  border: 1px solid $colorhoverinput;
}
.inputsubmit {
  background-color: $colorhover;
  color: $colorwhite;
  border: none;
  height: 50px;
  border-radius: $borderr10;
  font-family: 'Roboto-r';
  font-size: $fonts18;
  border: 1px solid $colorwhite;
  width: 30%;
  float: right;
  outline:none;
  
}
.inputsubmit:hover {
  border: 1px solid $colorhoverinput;
  background: $colorrgbabg;
  color: black;
  cursor: pointer;
}
}
// container way ends

// images container starts
.containerimages {
  width:$width100;
  @extend %flex-around;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.containerwood {
  @include position (relative);
  background-image: url("../img/wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 480px;
  display: block;
  margin-top: 20px;
}
.containerbear {
  @include position (relative);
  background-image: url("../img/bear.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 480px;
  display: block;
  margin-top: 20px;
}
.containerbear:hover {
  @extend %hoverimages;

}
.containerwood:hover {
  @extend %hoverimages;

}
.containerstreet:hover {
  @extend %hoverimages;

}
.containercar:hover {
  @extend %hoverimages;

}
.containerstreet {
  @include position (relative);
  background-image: url("../img/street.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 480px;
  display: block;
  margin-top: 20px;
}
.containercar {
  @include position (relative);
  background-image: url("../img/car.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 480px;
  display: block;
  margin-top: 20px;
}
.overlay {
  @include position (absolute);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width:$width100;
  opacity: 0;
  transition: $transition04 ease;
  background-color: $colorrgbahover;
}

.containercar:hover
.overlay {
  opacity: 1;
}
.containerwood:hover
.overlay {
  opacity: 1;
}
.containerbear:hover
.overlay {
  opacity: 1;
}
.containerstreet:hover
.overlay {
  opacity: 1;
}
.hovertext {
  color: $colorwhite;
  font-size: $fonts24;
  @include position (absolute);;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: $text-alignc;
  @include text-transform (uppercase);
  font-family: 'Roboto-r';

}
 // images container ends

// team container start
.containerteam {
  width:$width100;
  margin-top: 60px;
  .centerteam {
   @extend %marginmaxa;
  }

  .div95 {
    @extend %marginmaxa;
    width: 95%;

  }

  h2 {
    font-size: $fonts36;
    color: $colorgrey;
    padding-top:60px;
    padding-bottom: 30px;
    text-align: $text-alignc;
    letter-spacing: $letter-spacing12;
    word-spacing: $word-spacing12;
    font-family: 'Roboto-r';
  }
  p 
  {
    font-size: $fonts24;
    color: $colorgrey;
    padding-bottom: 60px;
    text-align: $text-alignc;
    word-spacing: $word-spacing7;;
    letter-spacing: $letter-spacing2;
    font-family: 'Roboto-r';
    line-height: 24px;

  }
h2:hover,
p:hover,
{
  color: $colorhhover;
  cursor: pointer;
}
 .containerteamcenter {
  @extend %flex-aroundwrap ;
  @extend %marginmaxa;
  margin-bottom: 60px;
  a {
    height:30px;
  }
}

 .centerhover {
  @include position (relative);
      height: 274px;
 }
.teamimages {
  height: 274px;
}

.overlayteam:hover {
  opacity: 1;
}
.overlayteam
{
  @include position (absolute);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width:$width100;
  opacity: 0;
  transition: $transition04 ease;
  background-color: $colorrgbahover;
}
  .hovertexti {
    color: $colorwhite;
    font-size: $fonts18;
    @include position (absolute);
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: $text-alignc;
    @include text-transform (uppercase);
    width: 180px;
    font-family: 'Roboto-r';

  }
  
  .hovertextii {
    color: $colorwhite;
    font-size: $fonts24;
    @include position (absolute);
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
     @include text-transform (uppercase);
    font-family: 'Roboto-r';
    text-align: center;
    width: 300px;

  }

.iconsf {
  height: 30px;
  display: block;
  @include position (absolute);;
  top: 67%;
  left: 27%;
}
.iconst {
  height: 30px;
  display: block;
  @include position (absolute);;
  top: 67%;
  left: 43%;
}
.iconsp {
  height: 30px;
  display: block;
  @include position (absolute);;
  top: 67%;
  left: 63%;
}
}

// team container ends

// park section start
#bgpark {
  background-image: url("../img/bgpark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.67;
  width:$width100;
  height: 630px;
  margin-bottom: 50px;
  
  p {
    text-align: $text-alignc;
    color: $colorwhite;
    font-size: $fonts24;
    margin-bottom: 40px;
    font-family: 'Roboto-r';

  }
  h4 {
    text-align: $text-alignc;
    color: $colorwhite;
    font-size: $fonts18;
    margin-bottom: 100px;
    font-family: 'Roboto-r';

  }
  h4:hover,
  p:hover,
{
  color: $colorhoverpark;
  cursor: pointer;
}
  .parkcenter {
    
    @extend %marginmaxa;
    padding-top:190px; 
    width: 95%;
  }

  .fb {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: $colorwhite;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  
}
  .fbi {
    width: 30px;
    height: 56px;
    margin: 22px 35px;
  }
  
}

.arrowicons {
  text-align: $text-alignc;
}

.arrowicon {
  width: 48px;
  height: 48px;
  margin-left: 20px;
 
}
// park section ends


// package lists start
#packagelists  {
 width:$width100;
.packagelistscenter {
 @extend %marginmaxa;
 @extend %flex-container;
  }
  .package {
 width: 370px;
 height: 590px;
  }
  a {
    color: $colorgrey;
    @include text-transform (capitalize);
    font-family: 'Roboto-r';

  }
   a:hover{
     color: $colorahover;
   }
  
  h2 {
    font-size: $fonts36;
    color: $colorgrey;
     @include text-transform (uppercase);
    text-align: $text-alignc;
    padding-top: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto-r';

  }
  h3 {
    font-size: $fonts24;
    color: $colorgrey;
    @include text-transform (uppercase);
    text-align: $text-alignc;
    margin-bottom: 50px;
    font-family: 'Roboto-r';

  }
  
  h4 {
    font-size: $fonts18;
    @include text-transform (capitalize);
    text-align: $text-alignc;

  }
  h4 a {
    background: $colorhover;
    color: $colorwhite;
    padding-left:50px;
    padding-right:50px;
    padding-top:15px;
    padding-bottom:15px;
    text-align: $text-alignc;
    font-family: 'Roboto-r';
    border-radius: $borderr10;

  }
 
  .hoverpack {
    height: 240px; 
    cursor: pointer;
  }
  .hoverpack:hover h2{
    color: $colorwhite;
    transition: $transition2;

  }
  .hoverpack:hover h3 {
    color: $colorwhite;
    transition: $transition2;
  }
  .hoverpack:hover a {
    color: $colorgrey;
    background: $colorwhite;
    transition: $transition2;
  }
 
  .hoverpack:hover {
    color: $colorwhite;
    background: $colorhover;
    transition: $transition2;

  }

   ul {
    text-align: $text-alignc;
    margin-top:30px;
  }
 li {
    font-size: $fonts24;
    color: $colorgrey;
     @include text-transform (capitalize);
    text-align: $text-alignc;
    margin-bottom: 20px;
    font-family: 'Roboto-r';

  }
  li:last-child {
    margin-bottom: 55px;
  }
}
// package lists ends

// last section starts 
#lastsection {
  width:$width100;
  @include position (relative);
  
}
.centerdiv {
 width:$width70;;
 height: 645px;
 background: $colorrgbabginput;
 @include position (absolute);
 top: 40px;
 left: 15%;
 padding-top: 50px;
 margin-bottom: 20px;

.forms {

  width:80%;
  @include position (absolute);;
  left: 10%;
}

 h2 {
  font-size: $fonts36;
  color: $colorwhite;
  text-align: $text-alignc;
  font-family: 'Roboto-r';

}
h2:hover,
a:hover,
{
  color: $colorhhover;
  cursor: pointer;
}
.iframes {
 @include position (relative);;
 width:$width100;
}
ul {
  text-align: $text-alignc;
  margin-top:30px;
}
a {
  font-size: $fonts18;
  color: $colorwhite;
  font-family: 'lato-r';
}
li {
  margin-bottom: 3px;
}
.inputsection {
  width:$width80;;
  height: 50px;
  border-radius: $borderr10;
  font-size: $fonts18;
  background: $colorrgbainputsection;
  padding-left: 20px;
  margin-top: 20px;
  color: $colorwhite;
  border: 1px solid $colorwhite;
  font-family: 'Roboto-r';
  @include text-transform (capitalize);
  margin-left: 10%;
  outline:none;

}
.inputsection::placeholder {
  color:white;
}

.inputsection:hover {
  cursor: pointer;
  border: 1px solid $colorhoverinput;
}
.message:hover {
  cursor: pointer;
  border: 1px solid $colorhoverinput;
 }
 
.message {
  height: 114px;
  border-radius: $borderr10;
  font-size: $fonts18;
  background: $colorrgbainputsection;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $colorwhite;
  border: 1px solid $colorwhite;
  font-family: 'Roboto-r';
  @include text-transform (capitalize);
  width:$width80;;
  margin-left: 10%;
  outline:none;

}
.message::placeholder {
  color:white;
}

.inputsubmits {
  background-color: $colorhover;
  color: $colorwhite;
  border: 1px solid $colorwhite;
  height: 50px;
  border-radius: $borderr10;
  width:$width80;;
  margin-left: 10%;
  font-size: $fonts18;
  font-family: 'Roboto-r';
  @include text-transform (capitalize);
  font-size: $fonts18;
  outline:none;

}
.inputsubmits:hover{
  border: 1px solid $colorhoverinput;
  cursor: pointer;
  background: $colorrgbabg;
  color: black;
 }
}

// ends last section

// copyright 
.copyright {
  width:$width100;
  
  .centercopy {
 @extend %marginmaxa;
  height: 80px;
  }
 ul {
   text-align: $text-alignc;
   @extend %flex-center;
 }
  li {
  padding-right:15px;
  margin-top:35px;
  padding-left:15px;
  text-align: $text-alignc;
  font-size: $fonts14;
  font-family: 'Roboto-r';
  border-right: 1px solid $colorgrey;
  }
}

a:active h4 {
  color: red;
background-color: yellow;
} 

#back2Top {
  width: 60px;
  line-height: 60px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border-radius: 50px;
  color: $colorwhite;
  background-color: $colorhoverinput;

}
#back2Top:hover {
  background: $colorrgbahover ;
  color: $colorgrey;
}

@import 'responsive.scss';
