
// colors
$colorgrey: #868686;
$colorwhite: #FFFFFF;
$colorhover:#3EC6FF;
$colorahover: #1e1d19;
$colorhhover:  #000000;
$colorhoverpark: #ccf2ff;
$colorhoverinput:#00bfff;
$colortransp: transparent;
// fonts
$fonts14: 14px;
$fonts18: 18px;
$fonts24: 24px;
$fonts36: 36px;
$fonts48: 48px;


// border 
$borderr5:5px;

// width percent
$width70: 70%;
$width80: 80%;
$width95:95%;
$width100:100%;

$text-alignc: center;