// colors
$colorgrey: #868686;
$colorwhite: #FFFFFF;
$colorhover:#3EC6FF;
$colorahover: #1e1d19;
$colorhhover:  #000000;
$colorhoverpark: #ccf2ff;
$colorhoverinput:#00bfff;
$colortransp: transparent;


// color rgba 
$colorrgbahover: rgba( 62, 198, 255, 0.7);
$colorrgbabg: rgba( 255, 255, 255, 0.7);
$colorrgbabginput: rgba(134, 134, 134, 0.4);
$colorrgbainputsection: rgba(134, 134, 134, 0.6);


// fonts
$fonts14: 14px;
$fonts16: 16px;
$fonts18: 18px;
$fonts24: 24px;
$fonts36: 36px;
$fonts48: 48px;


// border 
$borderr7:7px;
$borderr10:10px;

// width percent
$width70: 70%;
$width80: 80%;
$width95:95%;
$width100:100%;
// text-align
$text-alignc: center;

//   letter-spacing
$letter-spacing2: 2px;
$letter-spacing7: 7px;
$letter-spacing10: 10px;
$letter-spacing12: 12px;

//   word-spacing
$word-spacing7: 7px;
$word-spacing12: 12px;

// transition
$transition04: 0.4s;
$transition1: 1s;
$transition2: 2s;
$transition3: 3s;
$transition4: 4s;