/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header, header .hdiv, header ul, .sectionbluecenter, .containerway .sectionnews, #packagelists .packagelistscenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.containerimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.containerteam .containerteamcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.copyright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

header, .margincenter, .sectionbluecenter, .containerway .sectionnews, .containerteam .centerteam, .containerteam .containerteamcenter, #bgpark .parkcenter, #packagelists .packagelistscenter, .copyright .centercopy {
  max-width: 1200px;
  margin: auto; }

.sectionbluecenter .firstblue {
  -ms-flex-line-pack: center;
  align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@font-face {
  font-family: 'Roboto-l';
  src: url(../fonts/Roboto-Light.ttf); }

@font-face {
  font-family: 'Roboto-b';
  src: url(../fonts/Roboto-Black.ttf); }

@font-face {
  font-family: 'Roboto-r';
  src: url(../fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: 'lato-b';
  src: url(../fonts/Lato-Bold.ttf); }

@font-face {
  font-family: 'lato-r';
  src: url(../fonts/Lato-Regular.ttf); }

header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px; }
  header li {
    margin-left: 40px; }
  header img {
    width: 240px;
    height: 40px; }
  header a {
    font-size: 36px;
    color: #3EC6FF;
    font-family: 'Roboto-l'; }

.span {
  font-family: 'Roboto-b'; }

nav a {
  color: #868686;
  font-size: 18px;
  font-family: 'Roboto-r';
  text-transform: capitalize; }

nav a:hover {
  background-color: transparent;
  color: #1e1d19; }

#containerimg {
  width: 100%;
  height: 944px;
  background-image: url("../img/girl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4; }

.margincenter {
  width: 95%; }
  .margincenter h1 {
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'lato-b'; }
  .margincenter h1:hover,
  .margincenter h2:hover,
  .margincenter h3:hover {
    color: #000000;
    cursor: pointer; }
  .margincenter h2 {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 400px;
    font-family: 'Roboto-r'; }
  .margincenter h3 {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 7px;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Roboto-r'; }

.arrow {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #3EC6FF;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto; }

#sectionblue {
  width: 100%; }

.sectionbluecenter {
  width: 95%; }
  .sectionbluecenter img {
    width: 45px;
    height: 45px;
    margin: 25px; }
  .sectionbluecenter .firstblue {
    width: 270px;
    height: 470px; }
  .sectionbluecenter h2 {
    width: 270px;
    font-size: 18px;
    color: #868686;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Roboto-r'; }
  .sectionbluecenter p {
    width: 270px;
    font-size: 14px;
    color: #868686;
    font-family: 'Roboto-r'; }
  .sectionbluecenter h2:hover,
  .sectionbluecenter p:hover {
    color: #000000;
    cursor: pointer; }

.containerway {
  width: 100%;
  height: 250px;
  background-image: url("../img/way.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  margin-bottom: 110px; }
  .containerway .sectionnews {
    width: 95%; }
  .containerway h2 {
    color: #FFFFFF;
    font-size: 24px;
    padding-top: 75px;
    padding-bottom: 30px;
    width: 1200px;
    font-family: 'Roboto-r'; }
  .containerway h2:hover {
    color: #000000;
    cursor: pointer; }
  .containerway .divinput {
    width: 1200px;
    width: 100%; }
  .containerway .input {
    width: 770px;
    height: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    background: transparent;
    padding-left: 20px;
    font-family: 'Roboto-r'; }
  .containerway .input:hover {
    color: #ccf2ff;
    border: 1px solid #00bfff; }
  .containerway .inputsubmit {
    background-color: #3EC6FF;
    color: #FFFFFF;
    border: none;
    width: 370px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Roboto-r';
    font-size: 18px; }
  .containerway .inputsubmit:hover,
  .containerway .inputsubmits:hover {
    background: #00bfff; }

.containerimages {
  width: 100%;
  margin-bottom: 50px; }

.images {
  width: 100%;
  height: 300px;
  display: block; }

.container {
  position: relative;
  width: 480px; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  background-color: #3EC6FF; }

.container:hover .overlay {
  opacity: 0.7; }

.hovertext {
  color: #FFFFFF;
  font-size: 18px;
  position: absolute;
  top: 80%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto-r'; }

.containerteam {
  width: 100%;
  margin-top: 60px; }
  .containerteam h2 {
    font-size: 36px;
    color: #868686;
    padding-top: 90px;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 12px;
    word-spacing: 12px;
    font-family: 'Roboto-r'; }
  .containerteam p {
    font-size: 24px;
    color: #868686;
    padding-bottom: 120px;
    text-align: center;
    word-spacing: 7px;
    letter-spacing: 2px;
    font-family: 'Roboto-r'; }
  .containerteam h2:hover,
  .containerteam p:hover {
    color: #000000;
    cursor: pointer; }
  .containerteam .containerteamcenter {
    margin-bottom: 160px; }
  .containerteam .centerhover {
    position: relative; }
  .containerteam .teamimages {
    height: 274px; }
  .containerteam .overlayteam:hover {
    opacity: 0.7; }
  .containerteam .overlayteam {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    background-color: #3EC6FF; }
  .containerteam .hovertexti {
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    font-family: 'Roboto-r'; }
  .containerteam .hovertextii {
    width: 180px;
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: 'Roboto-r'; }
  .containerteam .iconsf {
    height: 30px;
    display: block;
    position: absolute;
    top: 70%;
    left: 27%; }
  .containerteam .iconst {
    height: 30px;
    display: block;
    position: absolute;
    top: 70%;
    left: 43%; }
  .containerteam .iconsp {
    height: 30px;
    display: block;
    position: absolute;
    top: 70%;
    left: 63%; }

#bgpark {
  background-image: url("../img/bgpark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.67;
  width: 100%;
  height: 630px;
  margin-bottom: 50px; }
  #bgpark p {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 40px;
    font-family: 'Roboto-r'; }
  #bgpark h4 {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 100px;
    font-family: 'Roboto-r'; }
  #bgpark h4:hover,
  #bgpark p:hover {
    color: #ccf2ff;
    cursor: pointer; }
  #bgpark .parkcenter {
    padding-top: 190px; }
  #bgpark .fb {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; }
  #bgpark .fbi {
    width: 30px;
    height: 56px;
    margin: 22px 35px; }

.arrowicons {
  text-align: center; }

.arrowicon {
  width: 48px;
  height: 48px;
  margin-left: 20px; }

#packagelists {
  width: 100%; }
  #packagelists .package {
    width: 370px;
    height: 590px; }
  #packagelists a {
    color: #868686;
    text-transform: capitalize;
    font-family: 'Roboto-r'; }
  #packagelists a:hover {
    color: #1e1d19; }
  #packagelists h2 {
    font-size: 36px;
    color: #868686;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto-r'; }
  #packagelists h3 {
    font-size: 24px;
    color: #868686;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto-r'; }
  #packagelists h4 {
    font-size: 18px;
    color: #868686;
    text-transform: capitalize;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Roboto-r'; }
  #packagelists .hoverpack {
    height: 240px;
    cursor: pointer; }
  #packagelists .hoverpack:hover h2 {
    color: #FFFFFF;
    background: #3EC6FF; }
  #packagelists .hoverpack:hover h3 {
    color: #FFFFFF;
    background: #3EC6FF; }
  #packagelists .hoverpack:hover h4 {
    color: #FFFFFF;
    background: #3EC6FF; }
  #packagelists .hoverpack:hover {
    color: #FFFFFF;
    background: #3EC6FF; }
  #packagelists ul {
    text-align: center;
    margin-top: 30px; }
  #packagelists li {
    font-size: 24px;
    color: #868686;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto-r'; }
  #packagelists li:last-child {
    margin-bottom: 55px; }

#lastsection {
  width: 100%;
  position: relative; }

.centerdiv {
  width: 70%;
  height: 645px;
  background: #868686;
  position: absolute;
  top: 40px;
  left: 15%;
  padding-top: 50px;
  margin-bottom: 20px; }
  .centerdiv .forms {
    width: 80%;
    position: absolute;
    left: 10%; }
  .centerdiv h2 {
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto-r'; }
  .centerdiv h2:hover,
  .centerdiv a:hover {
    color: #000000;
    cursor: pointer; }
  .centerdiv .iframes {
    position: relative;
    width: 100%; }
  .centerdiv ul {
    text-align: center;
    margin-top: 30px; }
  .centerdiv a {
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'lato-r'; }
  .centerdiv li {
    margin-bottom: 3px; }
  .centerdiv .inputsection {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    background: #FFFFFF;
    padding-left: 20px;
    margin-top: 20px;
    color: #868686;
    border: none;
    font-family: 'Roboto-r';
    text-transform: capitalize;
    margin-left: 10%; }
  .centerdiv .inputsection:hover {
    border: 1px solid #FFFFFF;
    cursor: pointer;
    background: #A8A8A8;
    color: #FFFFFF; }
  .centerdiv .message:hover {
    border: 1px solid #FFFFFF;
    cursor: pointer;
    background: #A9A9A9;
    color: #FFFFFF; }
  .centerdiv .message {
    height: 114px;
    border-radius: 5px;
    font-size: 18px;
    background: #FFFFFF;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #868686;
    border: none;
    font-family: 'Roboto-r';
    text-transform: capitalize;
    width: 80%;
    margin-left: 10%; }
  .centerdiv .inputsubmits {
    background-color: #3EC6FF;
    color: #FFFFFF;
    border: none;
    height: 50px;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    font-size: 18px;
    font-family: 'Roboto-r';
    text-transform: capitalize;
    font-size: 18px; }
  .centerdiv .inputsubmits:hover {
    border: 1px solid #FFFFFF;
    cursor: pointer; }

.copyright {
  width: 100%; }
  .copyright .centercopy {
    height: 80px; }
  .copyright ul {
    text-align: center; }
  .copyright li {
    padding-right: 15px;
    margin-top: 35px;
    padding-left: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto-r';
    border-right: 1px solid #868686; }

.searchimg {
  height: 24px;
  width: 24px; }

.dropdown {
  overflow: hidden;
  margin-right: 55px; }

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  margin-left: 35px; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  z-index: 1; }

@media only screen and (max-width: 992px) {
  .containerimages {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .containerway h2 {
    font-size: 18px;
    text-align: center;
    padding-top: 50px; }
  .containerway .input {
    width: 90%;
    margin-left: 5%; }
  .containerway .inputsubmit {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px; }
  .containerway .containerteamcenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .packagelists .packagelistscenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .sectionbluecenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .message {
    width: 100%; }
  .inputsubmits {
    width: 100%; } }

.containerteam p {
  font-size: 18px; }

.containerteam .containerteam .centerhover {
  margin-top: 20px; }

@media only screen and (max-width: 768px) {
  header {
    max-width: 600px; }
    header ul {
      display: none; }
  .containerimages {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    display: block;
    text-align: left;
    font-size: 18px; }
  .dropdown-content a:hover {
    background-color: #ddd; }
  .dropdown:hover .dropdown-content {
    display: block; }
  .sectionbluecenter {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .sectionbluecenter .firstblue {
      height: 300px;
      margin-left: auto;
      margin-right: auto; }
  .bgpark p {
    font-size: 18px; } }

@media only screen and (max-width: 480px) {
  .containerimages {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .dropdown-content {
    min-width: 100px; }
  .sectionbluecenter .firstblue {
    height: 270px; }
  .bgpark h4 {
    margin-bottom: 70px; }
  .bgpark .fb {
    width: 70px;
    height: 70px; }
  .bgpark .fbi {
    width: 20px;
    height: 38px;
    margin: 16px 25px; } }
