/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  align-items: center;
  text-align: center;
  align-content: center; }

* {
  box-sizing: border-box; }

header, header .hdiv, header ul, .sectionbluecenter, .containerway .sectionnews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.containerimages, .containerteam .containerteamcenter {
  display: flex;
  justify-content: space-between; }

header {
  margin: 0 auto;
  align-items: center;
  max-width: 1200px;
  margin-top: 35px;
  margin-bottom: 35px; }
  header li {
    margin-left: 45px; }
  header img {
    width: 240px;
    height: 40px; }
  header a {
    color: #868686;
    font-size: 18px; }
  header a:hover {
    background-color: transparent; }
  header .fa {
    color: #868686;
    font-size: 24px;
    cursor: pointer;
    background: none;
    margin-left: 45px; }

.containerimg {
  width: 100%;
  height: 944px;
  background-image: url("../img/girl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4; }

.margincenter {
  max-width: 1200px;
  width: 95%;
  margin: auto; }
  .margincenter h1 {
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    align-items: center; }
  .margincenter h2 {
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    align-items: center;
    padding-top: 400px; }
  .margincenter h3 {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 7px;
    text-transform: uppercase;
    align-items: center; }

.arrow {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #3EC6FF;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto; }

.sectionblue {
  width: 100%; }

.sectionbluecenter {
  max-width: 1200px;
  margin: auto;
  width: 95%; }
  .sectionbluecenter img {
    width: 45px;
    height: 45px;
    margin: 25px; }
  .sectionbluecenter .firstblue {
    width: 270px;
    height: 470px;
    align-content: center;
    display: flex;
    flex-wrap: wrap; }
  .sectionbluecenter h2 {
    width: 270px;
    font-size: 18px;
    color: #868686;
    margin-bottom: 15px;
    text-align: center; }
  .sectionbluecenter p {
    width: 270px;
    font-size: 14px;
    color: #868686; }

.containerway {
  width: 100%;
  height: 250px;
  background-image: url("../img/way.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  margin-bottom: 110px; }
  .containerway .sectionnews {
    max-width: 1200px;
    margin: auto;
    width: 95%; }
  .containerway h2 {
    color: #FFFFFF;
    font-size: 24px;
    padding-top: 75px;
    padding-bottom: 30px;
    width: 1200px; }
  .containerway .input {
    width: 770px;
    height: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    background: transparent;
    padding-left: 20px; }
  .containerway .inputsubmit {
    background-color: #3EC6FF;
    color: #FFFFFF;
    border: none;
    width: 370px;
    height: 50px;
    border-radius: 5px;
    margin-left: 30px; }

.containerimages {
  width: 100%;
  height: 300px;
  margin-bottom: 50px; }

.images {
  width: 100%;
  max-width: 480px;
  height: 300px;
  display: block; }

.container {
  position: relative;
  width: 100%; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: #3EC6FF; }

.container:hover .overlay {
  opacity: 0.7; }

.hovertext {
  color: #FFFFFF;
  font-size: 18px;
  position: absolute;
  top: 80%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase; }

.containerteam {
  width: 100%;
  height: 760px;
  margin-top: 60px; }
  .containerteam .centerteam {
    margin: auto;
    max-width: 1200px; }
  .containerteam h2 {
    font-size: 36px;
    color: #868686;
    padding-top: 90px;
    padding-bottom: 30px;
    text-align: center;
    width: 1200px;
    letter-spacing: 12px;
    word-spacing: 12px; }
  .containerteam p {
    font-size: 24px;
    color: #868686;
    padding-bottom: 120px;
    text-align: center;
    width: 1200px;
    word-spacing: 7px;
    letter-spacing: 2px; }
  .containerteam .containerteamcenter {
    max-width: 1200px; }
  .containerteam .centerhover {
    position: relative; }
  .containerteam .teamimages {
    width: 270px;
    height: 274px;
    display: block; }
  .containerteam .overlayteam:hover {
    opacity: 0.7; }
  .containerteam .overlayteam {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: #3EC6FF; }
  .containerteam .hovertexti {
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    width: 180px; }
  .containerteam .hovertextii {
    width: 180px;
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase; }
  .containerteam .iconsf {
    height: 30px;
    display: block;
    position: absolute;
    top: 70%;
    left: 27%; }
  .containerteam .iconst {
    height: 30px;
    display: block;
    position: absolute;
    top: 70%;
    left: 43%; }
  .containerteam .iconsp {
    height: 30px;
    display: block;
    position: absolute;
    top: 70%;
    left: 63%; }

.bgpark {
  background-image: url("../img/bgpark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.67;
  width: 100%;
  height: 630px;
  margin-bottom: 50px; }
  .bgpark p {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    width: 1200px;
    margin-bottom: 40px; }
  .bgpark h4 {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    width: 1200px;
    margin-bottom: 100px; }
  .bgpark .parkcenter {
    margin: auto;
    max-width: 1200px;
    padding-top: 190px; }
  .bgpark .fb {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; }
  .bgpark .fbi {
    width: 30px;
    height: 56px;
    margin: 22px 35px; }

.arrowicons {
  text-align: center; }

.arrowicon {
  width: 48px;
  height: 48px;
  margin-left: 20px; }

.packagelists {
  width: 100%; }
  .packagelists .packagelistscenter {
    max-width: 1200px;
    height: 590px;
    margin: auto; }
  .packagelists .package {
    width: 370px;
    height: 590px; }
  .packagelists h2 {
    font-size: 36px;
    color: #868686;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 20px; }
  .packagelists h3 {
    font-size: 24px;
    color: #868686;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px; }
  .packagelists h4 {
    font-size: 18px;
    color: #868686;
    text-transform: capitalize;
    margin-bottom: 55px;
    margin-left: 135px; }
  .packagelists h4:hover {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 75px;
    color: #FFFFFF;
    background: #3EC6FF;
    margin-left: 60px;
    margin-right: 60px; }
  .packagelists .hoverpack {
    width: 370px;
    height: 240px;
    cursor: pointer; }
  .packagelists .hoverpack:hover {
    color: #FFFFFF;
    background: #3EC6FF; }
  .packagelists h2:hover, .packagelists h3:hover, .packagelists h4:hover {
    color: #FFFFFF; }
  .packagelists ul {
    text-align: center; }
  .packagelists li {
    font-size: 24px;
    color: #868686;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px; }
  .packagelists li:last-child {
    margin-bottom: 55px; }

@media only screen and (max-width: 992px) {
  .containerimages {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .container {
    width: 50%; } }

@media only screen and (max-width: 768px) {
  header {
    max-width: 600px; }
    header ul {
      display: none; }
  .containerimages {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; } }

@media only screen and (max-width: 480px) {
  .containerimages {
    flex-wrap: wrap;
    justify-content: center; } }
